//colors
$color-primary: #5c33f6;
$color-secondry: #a239ea;

$color-white: #fff;
$color-black: #0000;

$color-gray-lighter: #f7f7f7;
$color-gray-dark: #999;
$color-gray-deepdark: #777;
$color-gray-deepdark-2: #333;

$color-yellow-lighter: #FFC93C;
$color-yellow-darker: #FF7600;

$color-blue-ligher: #008891;
$color-blue-darker: #0F3057;

$color-pink-lighter: #E6739F;
$color-pink-darker: #790C5A;

// font sizes

$default-font-size: 1.6rem;

//grid proparties
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
